<h3> <%= @recipe.name %> (<%= @recipe.portions %> portions) </h3>

<p> Preparation time: <%= @recipe.time_in_min %> minutes </p>
<p> Difficulty: <%= @recipe.difficulty %> </p>
<p> Rating: <%= @recipe.rating ? "#{@recipe.rating} / 5" : 'no users have rated it yet'%> </p>
<p> Instructions: </p>
<p><%= simple_format(@recipe.instructions) %></p>

<% if policy(@recipe).edit? %>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %>
<% end %>
