<div class="name-box">
  <h3> <%= @recipe.name %> </h3>
  <% if policy(@recipe).edit? %>
    <%= link_to 'Edit', edit_recipe_path(@recipe) %>
  <% end %>

  <% if policy(@recipe).destroy? %>
    <%= link_to 'Delete', recipe_path(@recipe), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
  <% end %>
</div>

<div class="helper">
  <div class="oneline-box">
    <div class="show-box">
      <p class="fw-bold"> Portions: </p> <p><%= @appearing_portions %> </p>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changePortionsModalCenter">
        Change
      </button>

      <!-- Modal -->
      <div class="modal fade" id="changePortionsModalCenter" tabindex="-1" role="dialog" aria-labelledby="changePortionsModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">How many portions?</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= form_with(url: recipe_path(@recipe), method: :get) do %>
                <input type='number' size='10' id='numberinput' name='changed_portions' value='<%= @recipe.portions.to_i %>' min='1' />
                <%= submit_tag '✔️', class: 'btn btn-primary' %>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
          </div>
        </div>
      </div>






    </div>
    <div class="show-box">
      <p class="fw-bold"> Preparation time: </p> <p><%= @recipe.time_in_min %> minutes </p>
    </div>
    <div class="show-box">
      <p class="fw-bold"> Difficulty: </p> <p> <%= @recipe.difficulty %> </p>
    </div>
    <div class="show-box">
      <p class="fw-bold"> Rating: </p> <p> <%= @recipe.rating ? "#{@recipe.rating} / 5" : 'no users have rated it yet'%> </p>
    </div>
  </div>
</div>

  <div class="show-box external">
    <p class="fw-bold"> Ingredients: </p>
    <ul class="list-unstyled">

      <% @ingredients.each do |ingr| %>
        <li> <%=ingr%> </li>
      <% end %>

    </ul>


  </div>
  <div class="show-box external">
    <p class="fw-bold"> Instructions: </p>
    <p><%= simple_format(@recipe.instructions) %></p>
  </div>
